.order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 500px;
    gap: 20px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
    border-radius: 15px;
    background-color: var(--CorTerciaria);
    -moz-box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
    padding: 45px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(30, 28, 28, 0.15);
    color: var(--CorPrimaria);
    position: absolute;
    top: 150px;
    right: 250px;
}

.resumoProduto {
    margin-top: -10px;
    font-size: 2rem;
    text-align: center;
}

.inputName {
    border: 1px solid #999;
    outline-color: var(--CorPrimaria);
    border-radius: 5px;
    width: 65%;
    height: 20%;
    padding: 0px 0px 0px 5px;
}

.container {
    overflow-y: scroll;
    top: 40px;
    width: 100%;
    height: 100%;
}

.containerTwo{
    margin-top: 15px;
    display: flex;
    gap: 50px;
}

.tituloContainer {
    font-size: 1.1rem;
}

.buttonRemove{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.totalPedido {
    margin-top: 10px;
    font-size: 1.2rem;
    position: relative;
    bottom: -10px;
}

.buttonPedido {
    position: relative;
    margin-top: 20px;
    bottom: 0px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: var(--CorPrimaria);
    border: 0;
    color: var(--CorTerciaria);
    cursor: pointer;
    font-size: 1em;
    font-family: 'Prompt', sans-serif;
    padding: 8px;
}

.buttonPedido:hover {
    background: var(--CorSecundaria);
    cursor: pointer;
    transition: 0.2s;
}

@media screen and (max-width: 1265px) {
    .order-summary {
        width: 390px;
        height: 450px;
        top: 160px;
        right: 50px;
    }

    .resumoProduto {
        margin-top: -20px;
        font-size: 1.5rem;
    }

    .inputName {
        font-size: 0.7rem;
    }

    .containerTwo{
        gap: 25px;
    }

    .tituloContainer {
        font-size: 1rem;
    }

    .buttonRemove{
        width: 15px;
        height: 15px;
    }
    
    .totalPedido {
        font-size: 1rem;
    }

    .buttonPedido {
        width: 130px;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1167px) {
    .order-summary {
        top: 150px;
        right: 50px;
    }
}

@media screen and (max-width: 1094px) {
    .resumoProduto {
        font-size: 1.3rem;
    }

    .buttonPedido {
        height: 40px;
    }
}

@media screen and (max-width: 1004px) {
    .order-summary {
        right: 30px;
    }
}

@media screen and (max-width: 903px) {
    .order-summary {
        width: 390px;
        height: 400px;
        top: 250px;
    }
}

@media screen and (max-width: 845px) {
    .order-summary {
        width: 390px;
        height: 400px;
        top: 250px;
    }
}

@media screen and (max-width: 826px) {
    .order-summary {
        height: 350px;
        position: relative;
        top: -30px;
        margin-left: 250px;
        margin-bottom: 10px;
    }

    .inputName {
        width: 65%;
        height: 100px;
    }
}

@media screen and (max-width: 694px) {
    .order-summary {
        width: 350px;
        height: 350px;
        position: relative;
        top: -30px;
        right: 30px;
        margin-left: 190px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 605px) {
    .order-summary {
        margin-left: 100px;
    }
}

@media screen and (max-width: 500px) {
    .resumoPedido {
        margin-top: -10px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 459px){
    .order-summary {
        margin-left: 90px;
        width: 300px;
    }
}