<div class="order-summary">
  <h2>Resumo do Pedido</h2>
  <div *ngFor="let selectedProduct of selectedProducts[0]?.products">
    <p>{{ selectedProduct.product.name }} - R$ {{ selectedProduct.product.price * selectedProduct.qty }}</p>
    <!-- Adicione um botão de remoção para cada produto -->
    <button (click)="removeProductFromOrder(selectedProduct.product)">Remover</button>
  </div>
  <p>Total: R$ {{ totalAmount }}</p>
  <label for="customerName">Nome do Cliente:</label>
  <input id="customerName" type="text" [(ngModel)]="customerName">
  <button (click)="sendOrderToKitchen()">Enviar Pedido</button>
</div>

