<section class="cookery">
  <img src="../../../assets/Logo-burguermv.png" alt="Logo" class="logoCooked">
  <div class="buttonsContainer">
    <button class="buttonOne" (click)="setActiveTab('pending')">Pedidos pendentes</button>
    <button class="buttonTwo" (click)="setActiveTab('ready')">Pedidos concluídos</button>
  </div>
  <img src="../../../assets/logoutCooked.png" alt="Imagem de Logout" class="imgLogout" (click)="logout()">
  <section class="order-list">
    <div *ngFor="let order of filterOrdersByStatus(activeTab)" class="order-item">
      <div class="order-details">
        <p class="order status">Status: {{ order.status }}</p>
        <p class="order client">{{ order.client }}</p>
        <div class="product-details">
          <div *ngFor="let product of order.productDetails" class="order-product">
            <p class="order-status">{{ product.productName }}</p>
            <p class="order-status">Qtd: {{ product.quantity }}</p>
          </div>
        </div>
        <p *ngIf="order.status === 'ready'" class="order time">{{ calculatePreparationTime(order) }} - </p>
      </div>
      <button *ngIf="order.status === 'pending'" class="buttonOk" (click)="markOrderAsReady(order)">
        Pedido Concluído
      </button>
    </div>
  </section>
</section>
