.cookery {
    height: 100vh;
    overflow-x: hidden;
}

.logoCooked {
    display: flex;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
}

.buttonsContainer{
    display: flex;
    align-items: center;
    position: relative;
    left: 500px;
    top: 50px;
    gap: 150px;
}

.buttonOne, .buttonTwo, .buttonOk{
    background-color: var(--CorPrimaria);
    color: var(--CorTerciaria);
    font-family: 'Prompt', sans-serif;
    border-radius: 5px;
    width: 190px;
    height: 40px;
    cursor: pointer;
    border: 0;
}

.buttonOne:hover, .buttonTwo:hover, .buttonOk:hover{
    background-color: var(--CorSecundaria);
}

.imgLogout{
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    top: 10px;
    right: 25px;
}

.order-list {
    display: grid;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    grid-template-columns: 330px 330px 330px 330px;
}

.order-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 100px;
    width: 300px;
    height: 300px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
    border-radius: 15px;
    background-color: var(--CorTerciaria);
    -moz-box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
    padding: 45px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(30, 28, 28, 0.15);
    color: var(--CorPrimaria);
    left: 150px;
    position: relative;
}

.order-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order { 
    text-align: center;
    gap: 20px;
}

.status {
    font-size: 1.3rem;
    margin-top: -5px;
    margin-bottom: 15px;
    background-color: #e5e6c9;
    color: var(--CorPrimaria);
    border-radius: 5px;
    width: 150px;
    height: 30px;
    padding: 3px;
}

.client{
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.time{
    display: flex;
    text-align: center;
    background-color: #DF582E;
    width: 240px;
    height: 25px;
    color: var(--CorTerciaria);
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 15px;
    font-size: 0.9rem;
    padding: 5px;
}

.order-product{
    display: flex;
    gap: 90px;
}

.product-details{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100px;
    width: 250px;
    gap: 10px;
    margin-left: 10px;
    font-size: 1rem;
}

.buttonOk {
    margin-bottom: -25px;
}

@media screen and (max-width: 1496px){
    .imgLogout{
        right: 30px;
    }
}

@media screen and (max-width: 1458px){
    .buttonsContainer{
        left: 380px;
    }

    .order-list {
        gap: 30px;
        grid-template-columns: 330px 330px 330px;
    }
}

@media screen and (max-width: 1187px){
    .logoCooked {
        position: relative;
        width: 200px;
        height: 200px;
        top: 0;
        left: 480px;
    }

    .buttonsContainer{
        position: relative;
        left: 250px;
        top: -100px;
        gap: 290px;
    }

    .imgLogout{
        width: 35px;
        height: 35px;
        right: 30px;
    }

    .order-list {
        position: relative;
        grid-template-columns: 330px 330px 330px;
        width: 250px;
        height: 250px;
        margin-left: -90px;
        top: -90px;
        gap: 30px;
    }
}

@media screen and (max-width: 1099px){
    .logoCooked {
        left: 350px;
    }

    .buttonsContainer{
        left: 150px;
        top: -100px;
        gap: 250px;
    }

    .imgLogout{
        width: 30px;
        height: 30px;
        right: 30px;
    }
    
    .order-list {
        margin-left: -20px;
        gap: 25px;
        grid-template-columns: 330px 330px;
    }
}

@media screen and (max-width: 878px){
    .logoCooked {
        left: 320px;
    }

    .buttonsContainer{
        left: 180px;
        gap: 210px;
        width: 490px;
        height: 100px;
    }

    .order-list {
        margin-left: 120px;
        grid-template-columns: 330px;
    }
}

@media screen and (max-width: 747px){
    .logoCooked {
        width: 200px;
        height: 200px;
        left: 250px;
    }
    
    .buttonsContainer{
        top: 5px;
        left: 190px;
        gap: 30px;
        width: 320px;
    }

    .order-list {
        top: -35px;
        margin-left: 40px;
        grid-template-columns: 330px;
    }
}


@media screen and (max-width: 613px){
    .logoCooked {
        left: 150px;
    }
    
    .buttonsContainer{
        left: 125px;
        width: 250px;
    }

    .order-list {
        top: -35px;
        margin-left: -50px;
        grid-template-columns: 330px;
    }
}

@media screen and (max-width: 480px){
    .logoCooked {
        left: 120px;
    }
    
    .buttonsContainer{
        left: 100px;
        gap: 50px;
    }

    .order-list {
        gap: 20px;
        margin-left: -80px;
        grid-template-columns: 330px;
    }
}

@media screen and (max-width: 416px){
    .logoCooked {
        left: 90px;
    }
    
    .buttonsContainer{
        top: -20px;
        left: 70px;
    }

    .order-list {
        top: -100px;
        gap: 20px;
        margin-left: -110px;
        grid-template-columns: 330px;
    }
}