.principal {
    height: 100vh;
    overflow-x: hidden;
}

.logoAdm {
    display: flex;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    position: relative;
    left: 490px;
    top: 40px;
    gap: 200px;
}

.buttonOne,
.buttonTwo,
.buttonThree {
    font-size: 1rem;
    background-color: var(--CorPrimaria);
    color: var(--CorTerciaria);
    font-family: 'Prompt', sans-serif;
    border-radius: 5px;
    width: 190px;
    height: 40px;
    cursor: pointer;
    border: 0;
}

.buttonOne:hover,
.buttonTwo:hover,
.buttonThree:hover {
    background-color: var(--CorSecundaria);
}

.imgLogout {
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    top: 10px;
    right: 25px;
}

.titulo,
.table {
    background-color: var(--CorSecundaria);
    color: var(--CorTerciaria);
    font-family: 'Prompt', sans-serif;
    border-radius: 5px;
    font-size: 1rem;
    width: 450px;
    height: 35px;
    text-align: center;
    position: relative;
    top: 80px;
    left: 550px;
    padding: 5px;
}

.addOne,
.addTwo,
.buttonThree,
.addThree {
    font-size: 0.9rem;
    font-family: 'Prompt', sans-serif;
    display: flex;
    position: relative;
    color: var(--CorPrimaria);
    top: 90px;
    gap: 10px;
    margin-top: 10px;
    left: 555px;
}

.addOne {
    display: flex;
    flex-direction: column;
}

.namesOne,
.namesTwo {
    display: flex;
    gap: 10px;
}

.inputs {
    width: 300px;
}

.buttonThree {
    color: var(--CorTerciaria);
    width: 100px;
    height: 30px;
    padding-left: 16px;
    padding-top: 5px;
    font-size: 0.9rem;
    left: 720px;
    top: 100px;
}

.buttonSelect {
    text-align: center;
    width: 110px;
    color: var(--CorPrimaria);
}

.table {
    display: flex;
    position: relative;
    gap: 100px;
    top: 120px;
    padding-top: 5px;
    padding-left: 50px;
}

.worked {
    display: flex;
    height: 40px;
}

.titleName,
.titleRole,
.buttonsWorked {
    position: relative;
    top: 140px;
    left: 600px;
    color: var(--CorPrimaria);
}

.buttonsIcons {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.titleRole {
    top: 120px;
    left: 750px;
}

.buttonsWorked {
    top: 100px;
    left: 880px;
}

.text {
    margin-top: 20px;
    padding-left: 150px;
}

.editWorked {
    display: flex;
}

.addThree {
    top: 120px;
    left: 580px;
    padding: 5px;
}

.btn {
    display: flex;
    top: 170px;
    gap: 10px;
    left: 250px;
    padding: 5px;
}

.btn1 {
    display: flex;
    top: 170px;
    gap: 10px;
    left: 280px;
    padding-left: 20px;
}

@media screen and (max-width: 1496px) {
    .imgLogout {
        right: 30px;
    }
}

@media screen and (max-width: 1458px) {
    .buttonsContainer {
        left: 380px;
    }

    .titulo,
    .table {
        left: 450px;
    }

    .addOne,
    .addTwo,
    .buttonThree,
    .addThree {
        left: 480px;
    }

    .buttonThree {
        left: 620px;
    }

    .titleName,
    .titleRole,
    .buttonsWorked {
        left: 500px;
    }

    .titleRole {
        left: 650px;
    }

    .buttonsWorked {
        left: 780px;
    }

    .addThree {
        left: 468px;
    }

    .btn {
        left: 160px;
    }

    .btn1 {
        left: 190px;
    }
}

@media screen and (max-width: 1187px) {
    .logoAdm {
        position: relative;
        width: 200px;
        height: 200px;
        left: 480px;
        margin-bottom: -70px;
    }

    .buttonsContainer {
        position: relative;
        left: 250px;
        top: -40px;
        gap: 290px;
    }

    .imgLogout {
        width: 35px;
        height: 35px;
        right: 30px;
    }

    .titulo,
    .table {
        left: 350px;
    }

    .addOne,
    .addTwo,
    .buttonThree,
    .addThree {
        left: 380px;
    }

    .buttonThree {
        left: 530px;
    }

    .titleName,
    .titleRole,
    .buttonsWorked {
        left: 400px;
    }

    .titleRole {
        left: 550px;
    }

    .buttonsWorked {
        left: 680px;
    }

    .addThree {
        left: 370px;
    }

    .btn {
        left: 60px;
    }

    .btn1 {
        left: 90px;
    }
}

@media screen and (max-width: 1099px) {
    .logoAdm {
        left: 350px;
    }

    .buttonsContainer {
        left: 150px;
        top: -40px;
        gap: 250px;
    }

    .imgLogout {
        width: 30px;
        height: 30px;
        right: 30px;
    }

    .titulo,
    .table {
        left: 230px;
    }

    .addOne,
    .addTwo,
    .buttonThree,
    .addThree {
        left: 260px;
    }

    .buttonThree {
        left: 400px;
        padding-left: 20px;
    }

    .titleName,
    .titleRole,
    .buttonsWorked {
        left: 280px;
    }

    .titleRole {
        left: 430px;
    }

    .buttonsWorked {
        left: 560px;
    }

    .addThree {
        left: 250px;
    }

    .btn {
        padding-left: 5px;
        left: -60px;
    }

    .btn1 {
        left: -30px;
    }
}

@media screen and (max-width: 878px) {
    .logoAdm {
        left: 320px;
        margin-bottom: -120px;
    }

    .buttonsContainer {
        left: 180px;
        gap: 210px;
        width: 490px;
        height: 100px;
        top: -20px;
    }

    .titulo,
    .table {
        left: 200px;
    }

    .addOne,
    .addTwo,
    .buttonThree,
    .addThree {
        left: 230px;
    }

    .buttonThree {
        left: 380px;
    }

    .titleName,
    .titleRole,
    .buttonsWorked {
        left: 250px;
    }

    .titleRole {
        left: 400px;
    }

    .buttonsWorked {
        left: 530px;
    }

    .addThree {
        left: 220px;
    }

    .btn {
        left: -100px;
    }

    .btn1 {
        left: -70px;
    }
}

@media screen and (max-width: 747px) {
    .logoAdm {
        width: 200px;
        height: 200px;
        left: 250px;
        margin-bottom: -90px;
    }

    .buttonsContainer {
        top: 70px;
        left: 190px;
        gap: 30px;
        width: 320px;
    }

    .titulo,
    .table {
        left: 150px;
        font-size: 0.9rem;
        width: 400px;
    }

    .addOne,
    .addTwo,
    .buttonThree,
    .addThree {
        left: 170px;
        font-size: 0.8rem;
    }

    .inputPassword{
        width: 130px;
    }

    .buttonThree {
        left: 300px;
    }

    .table {
        padding-left: 40px;
    }

    .text {
        padding-left: 140px;
    }

    .titleName,
    .titleRole,
    .buttonsWorked {
        left: 190px;
        font-size: 0.9rem;
    }

    .titleRole {
        left: 335px;
    }

    .buttonsWorked {
        left: 455px;
    }

    .addThree {
        left: 150px;
        font-size: 0.8rem;
    }

    .btn {
        left: -150px;
    }

    .btn1 {
        left: -130px;
    }
}

@media screen and (max-width: 613px) {
    .logoAdm {
        left: 150px;
    }

    .buttonsContainer {
        left: 125px;
        width: 250px;
    }

    .titulo,
    .table {
        left: 100px;
        font-size: 0.9rem;
        width: 300px;
    }

    .addOne,
    .addTwo,
    .buttonThree,
    .addThree {
        left: 100px;
        font-size: 0.8rem;
    }

    .inputs {
        width: 210px;
    }

    .inputPassword{
        width: 80px;
    }

    .buttonSelect {
        width: 100px;
        font-size: 0.7rem;
    }

    .buttonThree {
        left: 200px;
    }

    .table {
        padding-left: 10px;
        gap: 75px;
    }

    .text{
        padding-left: 90px;
    }

    .titleName,
    .titleRole,
    .buttonsWorked {
        left: 110px;
        font-size: 0.9rem;
    }

    .titleRole {
        left: 230px;
    }

    .buttonsWorked {
        display: flex;
        left: 330px;
    }

    .buttonsIcons {
        width: 15px;
        height: 15px;
    }

    .addThree {
        display: flex;
        flex-direction: column;
        left: 110px;
    }

    .editOne, .editTwo {
        display: flex;
        gap: 10px;
    }

    .btn {
        top: 200px;
        left: -80px;
        padding-left: 5px;
    }

    .btn1 {
        top: 200px;
        left: -60px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 480px) {
    .logoAdm {
        left: 120px;
    }

    .buttonsContainer {
        left: 100px;
        gap: 50px;
    }

    .buttonOne,
    .buttonTwo,
    .buttonThree {
        font-size: 0.8rem;
    }

    .titulo,
    .table {
        left: 75px;
    }

    .addOne,
    .addTwo,
    .buttonThree,
    .addThree {
        left: 80px;
    }

    .inputs {
        width: 210px;
    }

    .inputPassword{
        width: 80px;
    }

    .buttonSelect {
        width: 90px;
        font-size: 0.6rem;
    }

    .buttonThree {
        left: 180px;
    }

    .titleName,
    .titleRole,
    .buttonsWorked {
        left: 85px;
    }

    .titleRole {
        left: 205px;
    }

    .buttonsWorked {
        display: flex;
        left: 300px;
    }

    .addThree {
        left: 110px;
    }

    .btn {
        left: -100px;
    }

    .btn1 {
        left: -80px;
    }
}

@media screen and (max-width: 416px) {
    .logoAdm {
        left: 90px;
    }

    .buttonsContainer {
        top: 50px;
        left: 70px;
    }

    .buttonOne,
    .buttonTwo,
    .buttonThree {
        font-size: 0.8rem;
    }

    .titulo,
    .table {
        left: 45px;
    }

    .addOne,
    .addTwo,
    .buttonThree,
    .addThree {
        left: 55px;
    }

    .buttonThree {
        left: 150px;
    }

    .titleName,
    .titleRole,
    .buttonsWorked {
        left: 55px;
    }

    .titleRole {
        left: 175px;
    }

    .buttonsWorked {
        left: 275px;
    }

    .addThree {
        left: 80px;
    }

    .btn {
        left: -120px;
    }

    .btn1 {
        left: -100px;
    }
}