<!-- administrator.component.html -->
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Função</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.name }}</td>
      <td>{{ employee.role }}</td>
      <td>
        <button (click)="deleteEmployee(employee.id)">Excluir</button>
        <button (click)="showUpdateForm(employee)">Editar</button>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <h2>Adicionar Funcionários</h2>
  <form (submit)="addEmployee()">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" [(ngModel)]="newEmployee.name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="newEmployee.email">

    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" [(ngModel)]="newEmployee.password">

    <label for="role">Cargo:</label>
    <select id="role" name="role" [(ngModel)]="newEmployee.role" required>
      <option value="garçom">Garçom</option>
      <option value="cozinheiro">Cozinheiro</option>
    </select>

    <button type="submit">Adicionar Funcionário</button>
  </form>
</div>

<div *ngIf="isEditing">
  <h2>Editar Funcionário</h2>
  <form (submit)="updateEmployee()">
    <label for="updateName">Nome:</label>
    <input type="text" id="updateName" name="updateName" [(ngModel)]="employeeToUpdate.name" required>

    <label for="updateRole">Função:</label>
    <select id="updateRole" name="updateRole" [(ngModel)]="employeeToUpdate.role" required>
      <option value="Garçom">Garçom</option>
      <option value="Cozinheiro">Cozinheiro</option>
    </select>

    <button type="submit">Atualizar Funcionário</button>
    <button type="button" (click)="cancelUpdate()">Cancelar</button>
  </form>
</div>
