.container {
    height: 100vh;
    overflow-x: hidden;
}

.logoTables {
    display: flex;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
}

.buttonsContainer {
    display: flex;
    position: relative;
    left: 400px;
    top: 50px;
    gap: 200px;
}

.buttonsContainerTwo {
    display: flex;
    position: relative;
    left: 1170px;
    top: 11px;
    gap: 200px;
}

.buttonOne,
.buttonTwo,
.buttonThree,
.buttonOk {
    background-color: var(--CorPrimaria);
    color: var(--CorTerciaria);
    border-radius: 5px;
    width: 190px;
    height: 40px;
    cursor: pointer;
    border: 0;
    font-family: 'Prompt', sans-serif;
}

.buttonOne:hover,
.buttonTwo:hover,
.buttonThree:hover,
.buttonOk:hover {
    background-color: var(--CorSecundaria);
}

.order-list {
    display: grid;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    grid-template-columns: 330px 330px 330px 330px;
}

.order-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 100px;
    width: 300px;
    height: 300px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
    border-radius: 15px;
    background-color: var(--CorTerciaria);
    -moz-box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
    padding: 45px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(30, 28, 28, 0.15);
    color: var(--CorPrimaria);
    left: 150px;
    position: relative;
}

.order-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order {
    text-align: center;
    gap: 20px;
}

.client {
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.product-details {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100px;
    width: 250px;
    gap: 10px;
    margin-left: 10px;
    font-size: 1rem;
}

.order-product {
    display: flex;
    gap: 100px;
}

.time {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 25px;
    color: var(--CorPrimaria);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 15px;
    align-items: center;
    padding: 5px 0 5px 0;
    gap: 25px;
}

.buttonOk {
    margin-top: 15px;
}

.total {
    text-align: center;
    font-size: 1.3rem;
    background-color: #e5e6c9;
    color: var(--CorPrimaria);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    padding: 10px;
}

@media screen and (max-width: 1462px) {
    .buttonsContainer {
        left: 250px;
    }

    .buttonsContainerTwo {
        left: 1050px;
    }

    .order-list {
        margin-left: 80px;
        gap: 30px;
        grid-template-columns: 330px 330px 330px;
    }
}

@media screen and (max-width: 1291px) {
    .buttonsContainer {
        left: 210px;
        gap: 150px;
    }

    .buttonsContainerTwo {
        left: 900px;
    }

    .order-list {
        margin-left: 5px;
        grid-template-columns: 330px 330px 330px;
    }
}

@media screen and (max-width: 1268px) {
    .logoTables {
        position: relative;
        width: 200px;
        height: 200px;
        top: 0;
        left: 480px;
    }

    .buttonsContainer {
        position: relative;
        flex-direction: column;
        left: 160px;
        gap: 50px;
        top: -100px;
    }

    .buttonsContainerTwo {
        left: 800px;
        top: -200px;
    }

    .order-list {
        position: relative;
        margin-left: -60px;
        top: -170px;
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 1170px) {
    .logoTables {
        left: 350px;
    }

    .buttonsContainer {
        left: 100px;
    }

    .buttonsContainerTwo {
        left: 610px;
        top: -200px;
    }

    .order-list {
        position: relative;
        margin-left: -20px;
        grid-template-columns: 330px 330px;
        gap: 25px;
    }
}

@media screen and (max-width: 878px) {
    .logoTables {
        left: 320px;
    }

    .buttonsContainer {
        left: 80px;
    }

    .buttonsContainerTwo {
        left: 570px;
    }

    .order-list {
        margin-left: -40px;
    }
}

@media screen and (max-width: 830px){
    .logoTables {
        left: 270px;
    }

    .buttonsContainer {
        display: flex;
        flex-direction: row;
        left: 160px;
        top: 30px;
    }

    .buttonsContainerTwo {
        left: 280px;
        top: 80px;
    }

    .order-list {
        margin-left: -100px;
        top: 20px;
    }
}

@media screen and (max-width: 747px) {
    .logoTables {
        left: 250px;
    }

    .buttonsContainer {
        width: 280px;
        left: 210px;
    }

    .buttonsContainerTwo {
        left: 290px;
        width: 120px;
    }

    .order-list {
        margin-left: 50px;
        top: 20px;
        grid-template-columns: 330px;
    }
}

@media screen and (max-width: 613px) {
    .logoTables {
        left: 180px;
    }

    .buttonsContainer {
        width: 280px;
        left: 140px;
    }

    .buttonsContainerTwo {
        left: 220px;
        width: 120px;
    }

    .order-list {
        margin-left: -20px;
        top: 20px;
        grid-template-columns: 330px;
    }
}

@media screen and (max-width: 480px) {
    .logoTables {
        left: 130px;
    }

    .buttonsContainer {
        left: 90px;
    }

    .buttonsContainerTwo {
        left: 170px;
    }

    .order-list {
        margin-left: -70px;
    }
}

@media screen and (max-width: 416px) {
    .logoTables {
        left: 100px;
    }

    .buttonsContainer {
        left: 60px;
    }

    .buttonsContainerTwo {
        left: 140px;
    }

    .order-list {
        margin-left: -100px;
    }
}