<section class="container">
  <img src="../../../assets/Logo-burguermv.png" alt="Imagem Logo" class="logoTables">
  <div class="buttonsContainer">
    <button class='buttonOne' (click)="setActiveTab('ready')">Pedidos à Entregar</button>
    <button class='buttonTwo' (click)="setActiveTab('delivered')">Pedidos Entregues</button>
  </div>
  <div class="buttonsContainerTwo">
    <button class="buttonThree" (click)="goToMenu()"><-- Voltar para o Menu</button>
  </div>
  <section class="order-list">
    <div class="order-item" *ngFor="let order of (activeTab === 'ready' ? readyOrders : deliveredOrders)">
      <div class="order-details">
        <p class="order client">{{ order.client }} - {{ order.products.length }} Itens</p>
        <div class="product-details">
          <ul class="order-product" *ngFor="let product of order.products">
            {{ product.name }} - {{ product.quantity }} unidades
          </ul>
        </div>
      </div>
      <p class='total' *ngIf="activeTab === 'delivered'">Total: R$ {{ calculateTotal(order) }}</p>
      <div class='order' *ngIf="activeTab === 'ready'">
        <p class="time">Tempo de Preparo: {{ calculatePreparationTime(order) }}</p>
        <button class='buttonOk' (click)="markOrderAsDelivered(order)">Marcar como Entregue</button>
      </div>
    </div>
  </section>
</section>