.principal {
    height: 100vh;
    overflow-x: hidden;
}

.containerBackground {
    display: flex;
    position: absolute;
    right: 0px;
}

.backgroundx {
    display: none;
}

.imagemLogo {
    display: flex;
    position: relative;
    left: 0px;
    width: 100px;
    height: 100px;
}

.imgLogout {
    display: flex;
    position: absolute;
    top: 15px;
    right: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.select {
    display: flex;
    position: relative;
    gap: 200px;
    top: -60px;
    left: 500px;
}

.buttons {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: var(--CorPrimaria);
    border: 0;
    color: var(--CorTerciaria);
    cursor: pointer;
    font-size: 1em;
    font-family: 'Prompt', sans-serif;
    padding: 8px;
}

.buttons:hover {
    background: var(--CorSecundaria);
    cursor: pointer;
    transition: 0.2s;
}

.tituloItens {
    display: flex;
    position: relative;
    left: 30px;
    top: 5px;
    flex-direction: column;
    background-color: var(--CorPrimaria);
    width: 120px;
    height: 30px;
    color: var(--CorTerciaria);
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Prompt', sans-serif;
}

.products {
    display: flex;
    position: relative;
    top: 20px;
    left: 30px;
}

.elementsProducts {
    display: flex;
    gap: 10px;
}

.imgProduto {
    width: 100px;
    margin-top: 30px;
}

.tituloProducts {
    padding: 60px 0px 20px 20px;
}

.quantity-controls {
    margin-top: 60px;
}

.quantity-button {
    width: 20px;
    height: 20px;
    padding: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.quantity-input {
    width: 40px;
    height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    padding: auto;
}

.resumoPedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 480px;
    gap: 20px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
    border-radius: 15px;
    background-color: var(--CorTerciaria);
    -moz-box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
    padding: 45px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(30, 28, 28, 0.15);
    color: var(--CorPrimaria);
    position: absolute;
    top: 150px;
    right: 250px;
}

.resumoProduto {
    margin-top: -10px;
    font-size: 2rem;
    text-align: center;
}

.inputName {
    border: 1px solid #999;
    outline-color: var(--CorPrimaria);
    border-radius: 5px;
    width: 230px;
    height: 25px;
    padding: 0px 0px 0px 5px;
}

.totalPedido {
    font-size: 1.2rem;
    position: absolute;
    left: 50px;
    bottom: 85px;
}

.buttonPedido {
    position: absolute;
    bottom: 25px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: var(--CorPrimaria);
    border: 0;
    color: var(--CorTerciaria);
    cursor: pointer;
    font-size: 1em;
    font-family: 'Prompt', sans-serif;
    padding: 8px;
}

.buttonPedido:hover {
    background: var(--CorSecundaria);
    cursor: pointer;
    transition: 0.2s;
}

@media screen and (max-width: 1265px) {
    .background {
        display: none;
    }

    .backgroundx {
        display: flex;
        position: relative;
        width: 100%;
    }

    .imagemLogo {
        position: relative;
        left: 500px;
        top: -150px;
        width: 250px;
        height: 250px;
    }

    .imgLogout {
        top: 5px;
        right: 15px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .select {
        display: flex;
        position: relative;
        gap: 80px;
        top: -240px;
        left: 80px;
    }

    .buttons {
        font-size: 0.9em;
    }

    .tituloItens {
        position: relative;
        left: 30px;
        top: -205px;
        font-size: 0.9em;
        padding: 5px;
    }

    .products {
        top: -210px;
        left: 30px;
        position: relative;
    }

    .elementsProducts {
        display: flex;
        margin-left: 10px;
    }

    .imgProduto {
        width: 50px;
    }

    .tituloProducts {
        margin-top: 20px;
        font-size: 1rem;
        padding: 20px;
    }

    .quantity-controls {
        margin-top: 35px;
    }

    .quantity-button {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .quantity-input {
        width: 20px;
    }

    .resumoPedido {
        width: 360px;
        height: 380px;
        position: absolute;
        top: 130px;
        right: 80px;
    }

    .resumoProduto {
        margin-top: -20px;
        font-size: 1.5rem;
    }

    .inputName {
        width: 150px;
        height: 20px;
        font-size: 0.7rem;
    }

    .totalPedido {
        font-size: 1rem;
        position: absolute;
        left: 50px;
        bottom: 90px;
    }

    .buttonPedido {
        width: 130px;
        height: 40px;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1167px) {
    .imagemLogo {
        position: relative;
        left: 430px;
        top: -120px;
        width: 250px;
        height: 250px;
    }

    .select {
        display: flex;
        position: relative;
        gap: 50px;
        top: -240px;
        left: 30px;
    }

    .tituloItens {
        position: relative;
        left: 30px;
        top: -210px;
        font-size: 0.9em;
        padding: 5px;
    }

    .products {
        top: -220px;
        left: 30px;
        position: relative;
    }

    .resumoPedido {
        width: 360px;
        height: 380px;
        position: absolute;
        top: 150px;
        right: 50px;
    }
}

@media screen and (max-width: 1067px) {
    .imagemLogo {
        position: relative;
        left: 340px;
        top: -120px;
        width: 250px;
        height: 250px;
    }

    .imgLogout {
        top: 3px;
        right: 15px;
        width: 20px;
        height: 20px;
    }

    .select {
        display: flex;
        position: relative;
        width: 250px;
        gap: 20px;
        top: -230px;
        left: 30px;
        font-size: 0.8rem;
    }

    .tituloItens {
        left: 30px;
        top: -210px;
        font-size: 0.8em;
        padding: 5px;
        width: 100px;
    }

    .resumoPedido {
        width: 350px;
        height: 370px;
        position: absolute;
        top: 150px;
        right: 50px;
    }

    .resumoProduto {
        margin-top: -20px;
        font-size: 1.3rem;
    }

    .inputName {
        width: 150px;
        height: 20px;
        font-size: 0.7rem;
    }

    .totalPedido {
        font-size: 1rem;
        position: absolute;
        left: 50px;
        bottom: 90px;
    }

    .buttonPedido {
        width: 130px;
        height: 40px;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 968px) {
    .imagemLogo {
        position: relative;
        left: 260px;
        top: -120px;
        width: 250px;
        height: 250px;
    }

    .imgLogout {
        top: 3px;
        right: 80px;
        width: 20px;
        height: 20px;
    }

    .select {
        top: -230px;
        left: 20px;
    }

    .tituloItens {
        left: 30px;
        top: -205px;
        font-size: 0.8em;
        padding: 5px;
        width: 100px;
    }

    .products {
        position: relative;
        top: -220px;
        left: 30px;
    }

    .elementsProducts {
        display: flex;
        gap: 0px;
    }
    
    .resumoPedido {
        width: 350px;
        height: 370px;
        position: absolute;
        top: 150px;
        right: 30px;
    }
}

@media screen and (max-width: 860px) {
    .imagemLogo {
        position: relative;
        margin-top: 15px;
        right: 450px;
        left: 330px;
        width: 180px;
        height: 180px;
    }

    .select {
        position: relative;
        display: flex;
        top: -120px;
        left: 290px;
        gap: 25px;
    }

    .tituloItens {
        position: relative;
        top: -100px;
    }

    .products {
        top: -110px;
        left: 30px;
    }

    .elementsProducts {
        position: relative;
        display: flex;
        margin-left: 5px;
        padding-top: 10px;
    }

    .imgProduto {
        width: 40px;
    }

    .tituloProducts {
        font-size: 0.9rem;
        padding: 10px 0px 5px 10px;
    }

    .quantity-controls {
        margin-top: 25px;
        margin-left: 15px;
    }

    .quantity-button {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .quantity-input {
        width: 20px;
    }

    .resumoPedido {
        width: 380px;
        height: 300px;
        position: absolute;
        top: 230px;
        right: 30px;
    }
}

@media screen and (max-width: 826px) {
    .imagemLogo {
        position: relative;
        top: -110px;
        right: 280px;
        left: 350px;
    }

    .select {
        top: -110px;
        left: 310px;
        gap: 25px;
    }

    .products {
        top: -100px;
        left: 30px;
    }

    .elementsProducts {
        position: absolute;
        display: flex;
        margin-left: 50px;
    }

    .imgProduto {
        width: 40px;
    }

    .tituloProducts {
        font-size: 0.8rem;
        padding: 10px 0px 5px 10px;
    }

    .quantity-controls {
        margin-top: 25px;
    }

    .quantity-button {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .quantity-input {
        width: 20px;
    }

    .resumoPedido {
        width: 350px;
        height: 290px;
        position: absolute;
        top: 250px;
        right: 30px;
    }
}

@media screen and (max-width: 773px){
    .backgroundx {
        display: flex;
        position: relative;
        width: 100vw;
    }
    
    .imagemLogo {
        position: relative;
        top: -110px;
        right: 280px;
        left: 300px;
    }

    .select {
        top: -110px;
        left: 260px;
    }

    .tituloItens {
        position: relative;
        top: -90px;
        left: 340px;
    }

    .products {
        top: -100px;
        left: 240px;
    }

    .elementsProducts {
        position: absolute;
        display: flex;
        margin-left: 50px;
    }

    .imgProduto {
        width: 40px;
    }

    .tituloProducts {
        font-size: 0.8rem;
        padding: 10px 0px 5px 10px;
    }

    .quantity-controls {
        margin-top: 25px;
    }

    .quantity-button {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .quantity-input {
        width: 20px;
    }

    .resumoPedido {
        width: 350px;
        height: 350px;
        position: relative;
        top: -30px;
        right: 30px;
        margin-left: 250px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 694px) {
    .imagemLogo {
        position: relative;
        left: 230px;
        top: -100px;
    }

    .select {
        margin-top: 10px;
        left: 200px;
    }

    .tituloItens {
        position: relative;
        margin-top: 5px;
        left: 280px;
    }

    .products {
        top: -100px;
        left: 190px;
    }

    .imgProduto {
        width: 40px;
    }

    .resumoPedido {
        width: 350px;
        height: 350px;
        position: relative;
        top: -30px;
        right: 30px;
        margin-left: 190px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 605px){
    .imagemLogo {
        left: 150px;
        top: -80px;
    }

    .select {
        margin-top:20px;
        left: 120px;
    }

    .tituloItens {
        left: 190px;
    }

    .products {
        left: 90px;
    }

    .resumoPedido {
        margin-left: 100px;
    }
}

@media screen and (max-width: 500px){
    .backgroundx {
        display: flex;
        position: relative;
        width: 500px;
    }

    .imagemLogo {
        left: 150px;
        margin-top: 30px;
    }

    .imgLogout {
        top: 10px;
        right: 80px;
        width: 20px;
        height: 20px;
    }

    .select {
        left: 120px;
    }

    .tituloItens {
        left: 190px;
    }

    .products {
        left: 90px;
    }

    .resumoPedido {
        margin-left: 100px;
    }
}