<section class="principal">
  <img src="../../../assets/vectorInverse.svg" alt="Logo" class="background">
  <img src="../../../assets/vectorx-2.svg" alt="Color Logo" class="backgroundx">
  <img src="../../../assets/Logo-burguermv.png" alt="Imagem Logo" class="imagemLogo">
  <img src="../../../assets/logout.png" alt="Botão Logout" class="imgLogout">
  <section class="select">
    <button class="buttons" (click)="filterProducts('Café da manha')">Café da manhã</button>
    <button class="buttons" (click)="filterProducts('Almoço')">Almoço e Jantar</button>
  </section>
  <p class="tituloItens">Itens/Valor</p>
  <section>
    <div *ngFor="let product of filteredProducts">
      <div class="products">
        <img class="imgProduto" [src]="product.image" alt="{{ product.name }}" />
        <div class="elementsProducts">
          <h3 class="tituloProducts">{{ product.name }} - R$ {{ product.price }}</h3>
          <div class="quantity-controls">
            <button class="quantity-button minus">-</button>
            <input class="quantity-input" type="number" value="1" min="1">
            <button class="quantity-button plus">+</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="resumoPedido">
    <h2 class="resumoProduto">Resumo do Pedido</h2>
    <input class="inputName" type="text" id="customerName" [(ngModel)]="customerName" placeholder="Nome do cliente" />
    <div *ngFor="let product of selectedProducts; let i = index">
      <div>
        <h3>{{ product.name }}</h3>
        <p>Preço: R$ {{ product.price }}</p>
        <button (click)="removeProductFromOrder(i)">Remover</button>
      </div>
    </div>
    <p class="totalPedido">Total: R$ {{ totalAmount }}</p>
    <button class="buttonPedido" (click)="sendOrderToKitchen()">Enviar Pedido</button>
  </section>
</section>